*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 70.5px;
}

.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения, устарело, следует использовать только для поддержки старых браузеров */
  clip-path: inset(50%); /* замена clip, превращает элемент в невидимую глазу точку */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
}

.content {
  padding: 0 30px;
  block-size: 534px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  block-size: 100%;
  gap: 16px;
}

.result__video-container {
  block-size: 386px;
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  border: none;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__textfield {
  background: transparent;
  border: none;
  border-block: 1px solid #fff;
  font: inherit;
  color: inherit;
  font-size: 18px;
  width: 225px;
  padding: 0 1px;
  cursor: url("../images/cursors/cursor-text.svg"), text;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  appearance: none;
}

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15.5px;
}

.search-form__label {
  display: flex;
  align-items: center;
}

.search-form__label:not(:has(.search-form__textfield)):hover {
  text-decoration: underline;
  cursor: url("../images/cursors/cursor-pointer.svg"), pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-image: url("../images/CheckBox-Mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
  margin-right: 5px;
}

.search-form__checkbox:focus {
  outline: none;
  border: transparent;
}

.search-form__checkbox:focus-visible {
  outline: none;
  border: transparent;
}

.button:focus {
  outline: none;
}

.button {
  height: 34px;
  background-color: transparent;
  color: inherit;
  border: 1px solid #fff;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: url("../images/cursors/cursor-pointer.svg"), pointer;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  block-size: 100%;
  padding-top: 5px;
}

.content__accent {
  color: #545050;
}

.content__list {
  overflow: auto;
  position: relative;
  padding: 2px 2px 2px 2px;
}

.content__list:focus {
  outline: none;
}

.preloader-template {
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 31px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
  border: transparent;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 100%;
}